.registerAndLogin{
    background-image: url("../imgs/22040102.jpg");
    background-size:cover;
    background-attachment: fixed;
}
.registerAndLogin_form{
    background: rgba(237, 224, 255, 0.8);
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: ridge;
    border-color: azure;
    border-radius :5em;
    text-align: center;
    padding: 2%;
}

.form_body div{
    padding: 0.3em;
}
.form_member1{
    display: inline;
    margin: 1%;
}
.form_member{
    margin: 1.5%;
}
.menu{
    width: 150px;
    display: inline-block;
    text-align: right;
}
.registerAndLogin_button{
    
        width: 270px;
        height: 40px;
        border-width: 0px; 
        border-radius: 3px;
        background:rgba(8, 160, 241, 0.9);
        cursor: pointer; 
        outline: none;
        font-family: Microsoft YaHei;
        color: white;
        font-size: 17px;
}
.registerAndLogin_button:hover{
    background: rgba(54, 8, 206, 0.9);
}

.registerAndLogin_form h1{
    font-family:Microsoft YaHei;
    color: rgb(45, 10, 243);
}
.kong input{
    border:none; width:200px; height:30px; text-align:left;line-height:20px;
}
