.search{
    background-image: url("../imgs/22040102.jpg");
    background-size:cover;
    background-attachment: fixed;
}
.sousuokuang{
    width: 390px;
    margin-top: 7%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
.sousuokuang input{
    display: inline-block;
    
    vertical-align:top;
}
    
.search_text{ 
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 32px; 
    /*float: left;
    text-align: center;
    background-image: url(images/search.jpg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;*/
}
    
.search_submit{
    width: 78px;
    height: 32px;
    background: black;
    color: white;
    /*float: right;
    text-align: center;*/
    line-height: 32px;
    cursor: pointer;
}
.search_result{
    background: rgba(237, 224, 255, 0.8);
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 15%;
    margin-right: 15%;
    border-style: ridge;
    border-color: azure;
    border-radius :5em;
    text-align: center;
    padding: 2%;
}
.search_result div{
    display: inline-block;
    width: 23%;
    vertical-align:top;
    margin: 5%;
}
.search_result a{
    text-decoration: none;
}
.inf_table{
    color: rgb(51, 41, 239);
    border-color: aliceblue;
    border-style:dotted;
    
}
.inf_table tr td img{
    width: 100px;
    height: 140px;
}
.inf_table tr td{
    min-width: 50px;
}
.page div{
    display: block;
    text-align: center;
}
.select_page p{
    color: azure;
}
.select_page p input{
    width: 15px;
}
.page_button{
    background-color: #333;
    height: 25px;
    color: aliceblue;
    vertical-align:top;
}
